* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    height: 100%;
  }
  
  .container{
    background-image: url('doge-27437-1920x1200.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  h2 {
    text-align: center;
  }
  .logo{
    text-shadow: 2px 2px 4px #000000;
    color:white;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 65px;
    padding: 1em;
    font-weight:bolder;
    font-size:25px;
  }
  
  .menu li:hover{
    color:white;
    cursor:pointer;
    background-color: yellow;
  
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  /*Container for menu button  */
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  /*  Creating the menu button */
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 6px;
    width: 32px;
    border-radius: 3px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  
  }
  
  .header-content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
  }
  
  .header-content h1{
  }
  
  .header-content p{
   font-size: 30px;
  }
  
  .selection{
    width: 200px;
    margin-top: 20px;
  }
  
  .wrapper{
    background-color: darkgreen;
    height: 100vh;
  }
  
  .image img{
    height: 200px;
    width: 200px;
  }
  
  .logo img{
    height: 40px;
    width: 40px;
  }
  .shopping-content{
    height: 100vh;
    background-color: blue;
  }
  
  li a{
   text-decoration: none;
   color: white;
  }

 .sidebar{
  width: 20%;
  background-color: gray;
  float: left;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }